/* here you can put your own css to customize and override the theme */
/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

.portlet.portlet-sortable {
    margin-bottom: 20px!important;
}
/* Generic margins */
/*.portlet{
	margin: 0!important;
}*/

* {
    outline: none;
}

.reset-margin {
    margin: 0 !important;
}
.normlize-margin-bottom{
    margin-bottom: 10px !important;
}
.normlize-margin-right{
    margin-right: 10px;
}
.normlize-margin-top{
    margin-top: 10px !important;
}
.normlize-margin-left{
    margin-left: 10px;
}

.reset-padding{
    padding: 0 !important;
}
.reset-padding-right {
    padding-right: 0 !important;
}

.normlize-padding-left{
    padding-left: 15px;
}
.normlize-padding-top{
    padding-top: 15px;    
}
.normlize-padding-bottom{
    padding-bottom: 15px;    
}
.normlize-padding-right-small{
    padding-top: 15px;
    padding-left: 5px;
}    
.reset-border{
    border: 0!important;
}
.btn{
    text-transform: capitalize;
}
.btn-large-centered{
    width: 250px;
}
.btn-xlarge-centered{
    width: 322px;
}
.btn-width{
    width: 100%;
}
.btn-new,
.btn-new i {
    color: #566e7c;
    border-color: #a2aeb5;
}
.btn-new:hover {
    color: #fff !important;
    background-color: #a1b6c2;
    border-color: #a1b6c2;
}
.btn-new:hover i {
    color: #fff !important;
}
.new-post-btn {
    margin-right: 40px;
    float: right;
    padding-bottom: 10px;
}
.font-color-light {
    color: #637b89 !important;
}
.font-color-dark {
    color: #2b4a5c;
}
.center {
    text-align: center;
}
.input-med-width {
    width: 197px !important;
}
ul{
    list-style-type: none;
}


.filter-bar {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.caption {
    float: none !important;
}

.text-green {
    color: #1BBC9B;
}

.text-green:hover {
    color: #1BA39C;
}

.loc-And-Date {
    padding: 0 0 10px 0;
    color: #9eacb4;
    font-size: 13px;
    font-weight: 400;
}

.btn-sm {
    padding: 3px 9px !important;
}

.pagination {
    float: right;
    margin: 10px 15px;
}
/*post-details-page*/

.text-right-alignment {
    text-align: right;
}

.job-post-details {
    padding: 0;
    margin-left: -100px;
}

.title-edit {
    margin: 0 5px 0 40px;
}

.pencil-icon {
    padding-right: 2px;
}

.exp-date {
    font-size: 12px;
    text-transform: capitalize;
}
/*essam*/
.post-heading .portlet{ 
    padding: 12px 20px;
}
.post-heading label{ 
    color:#637b89;
    font-weight: bold;
    border-right: 1px solid #e1e1e1;
    padding-right: 20px;
    margin-right: 20px;
    font-size: 18px;
}

.post-heading > .portlet {
    margin-bottom: 15px
}


/*.portlet-body
{
	max-height: 60px;
	overflow: hidden;
}*/
/*.portlet.light .portlet-sortable .portlet-body p
{
	max-height: 60px;
	overflow: hidden;	
	position: relative;
}
.portlet.light .portlet-sortable .portlet-body p:after
{
	content: "...";
	position: absolute;
	bottom: 5px;
	right: 0;
}*/


.canvas-wrapper, .center-element{ 
    margin: 0 auto
}
.btn.center-element{ 
    width: 100px; 
    margin: 0 auto; 
    display: block
}
.pie-chart-title { 
    font-weight: bold; 
    color: #637b89; 
    text-align: center
}

/*.publishment-date{
    display: block;
    width: 100%;
    margin: 0 auto;
}*/


.dropdown-width{
    width: 100%
}
.dashed-border{
    border: 5px dashed #e1e1e1 !important;
}
.add-message{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.add-message i{
    font-size: 80px;
    line-height: 80px;
}

.news-object{
    height: 60px;
    position: relative;
    top: 3px;
}
.gallery-object{
    height: 100px;  
}
.category-title{
    background: #eee;
    padding: 1px 4px;
    margin: 0 4px 4px 0;
    display: inline-block;
    color: #555;
}
.category-title:hover {
    background: #ddd;
    text-decoration: none;
    color: #555;
}
.filter{
    line-height: 34px;
    font-size: 15px;
}
.filter .tab-content-restyle{
    margin: 0 15px;
    height: 112px;
    overflow: scroll;
}
.restyle-panal-heading{
    background-color: transparent!important;
    color: #5b9bd1!important;
}
.restyle-panal-heading a{
    font-size: 15px!important;

}.mix-grid .mix {
  opacity: 1;
  display: block;
}
.mix-grid{
    padding: 0;
}
.mix-grid .mix:hover{
    cursor:move ;
}
.add-img button{
    padding: 56px 80px;
    border: 3px dashed #ccc !important;
    background: #F7F7F7;
    height: 152px;
}
.add-img i{
    font-size: 27px !important;
    line-height: 25px;
}
/*
.mix-grid .mix a.mix-edit{
    margin-right: 5px;
}*/

.mix-grid .mix a.mix-edit, 
.mix-grid .mix a.mix-delete,
.mix-grid .mix a.mix-cover,
.mix-grid .mix a.mix-preview,
.mix-grid .mix a.mix-cover-marked{
    color: #555;
    display: block;
    cursor: pointer;
    margin-top: 10px;
    position: absolute;
    padding: 10px 15px;
    background: #16b2f4;
    margin-right: 5px;
}
.mix-grid .mix a.mix-edit{
    left: 15%;
}
.mix-grid .mix a.mix-preview{
    left: 67%;
    margin-left: 0;
}

.mix-grid .mix a.mix-cover{
    left: 51%;
}
.mix-grid .mix a.mix-cover-marked{
    left: 50%;
    bottom: 12%;
}
.mix-grid .mix a.mix-delete{
    right: 48%;
}
.mix-grid .mix a.mix-edit, 
.mix-grid .mix a.mix-delete, 
.mix-grid .mix a.mix-cover, 
.mix-grid .mix a.mix-preview, 
.mix-grid .mix a.mix-cover-marked{
    padding: 5px 10px;
    border: solid 1px #16b2f4;
    position: static!important;
    display: inline-block;
}

.mix-grid .mix a.mix-edit:hover, 
.mix-grid .mix a.mix-delete:hover,
.mix-grid .mix a.mix-cover:hover,
.mix-grid .mix a.mix-preview:hover,
.mix-grid .mix a.mix-cover-marked:hover{
    color: #fff;
    padding: 5px 10px !important;
    text-decoration: none;
    border: solid 1px #eee;

}

.news-row{
    margin-right: 15px;
    margin-left: 15px;
    background-color: #fff;
    border-radius: 4px;
}
#preview-pane{
    right: -362px;
}
.form-margin-top{
    margin-top: 193px;
}
.mark-as-fav{
    color: #666;
}
.message-view-info{
    color: #666;
    padding: 5px 0;
    margin-top: 10px;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
    margin: 10px -5px;
}
.message-content{
    padding: 10px 15px;
}
.isFav i{
    color: #F7CA18;
}
.img-bg{
    display: block
    z-index: 2000;
    padding: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px rgba(0, 0, 0, 0.4) solid;
    background-color: white;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}
.img-container{
    
/*    overflow: hidden;
*/    outline: none;
}
.img-container img{
    border-radius: 6px;
    width: 174px;
    height: 160px;

}
.imgs-no{
    font-size: 20px;
    font-weight: 300;
}

.profile-usermenu{
    text-align: center;
    padding-bottom: 102px !important;
}
.profile-usermenu a{
    font-weight: 600;
}
.event-block h4{
  color: #5b9bd1;
  text-transform: capitalize;
  padding-top: 10px;
}
.event-block .event-text{
    line-height: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e9ecf3;
}
.video-row:before{
  content: "\f144";
  font-family: FontAwesome;
  font-size: 30px;
  position: absolute;
  z-index: 1;
  color: #eee;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  padding: 10px 26px;
  top: 3px;
}
.video-row{
    position: relative;
    display: block;
}
.selector-wrapper .selector{
  padding: 0 0 0 100px;
}
.sing-comment strong{
    font-size: 15px;
    color: #485a6a;
    padding-bottom: 5px;
    display: block;
}
.sing-comment p{
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 10px;
}
.sub-menu .badge{
    float: none!important;
}
.table-striped>tbody>tr.new-comment{
    background-color: rgba(250 , 235 , 204 , 0.5);
}
#accordion{
    position: relative;
}
#accordion .remove-item{
    color: #f36a5a;
}